/* Style - AdminNavbar */

/* Entire admin navbar */
.adminNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.747), #5f1a9bbc);
    opacity: 85%;
}

/* Left section of admin navbar (SlayTix) */
.leftSection {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 2.5em;
}

/* SlayTix logo */
.leftSection a {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Right section of admin navbar (dropdown + links) */
.rightSection {
    display: flex;
    align-items: center;
}

/* All buttons in right section */
.rightSection button {
    background-color: transparent;
    border: none;
    padding: 1em 1em;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Change BG color of links on hover */
.rightSection button:hover { background-color: #7E22CE; }

/* Dropdown menu section */
.dropdown {
    position: relative;
    display: inline-block;
} 

/* Manage Movies button */
.dropbtn {
    padding: 16px;
    font-size: 18px;
    border: none;
    color: white;
}

/* Schedule + Add Movie (hidden by default) */
.dropContent {
    display: none;
    position: absolute;
    min-width: 180px;
    background-color: #f1f1f1;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside dropdown */
.dropContent a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

/* Change color of dropdown links on hover */
.dropContent a:hover { background-color: #ddd; }

/* Show dropdown menu on hover */
.dropdown:hover .dropContent { display: block; }

/* Change BG color of dropdown button when content is shown */
.dropdown:hover .dropbtn { background-color: #7E22CE; }

