/* MoviesList.module.css */

/* Grid container for movies */
.movieGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Individual movie card */
.movieCard {
  display: flex;
  flex-direction: column; /* Stack poster and trailer vertically */
  justify-content: space-between; /* Space between poster and trailer */
  align-items: center;
  position: relative;
  height: 700px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.posterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 10px;
  padding-top: 30px;
}

.posterWrapper {
  position: relative;
  display: inline-block;  
  overflow: hidden;
  border-radius: 8px;
}

.moviePoster {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out;
}

.posterOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s ease-in-out;
}

.posterWrapper:hover .posterOverlay {
  background: rgba(0, 0, 0, 0.7);
}

.bookButton {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  z-index: 20;
}

.posterWrapper:hover .bookButton {
  display: block;
  opacity: 1;
}

.movieTrailer {
  display: block;
  margin: 20px auto 0;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}

.movieTitle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size:24px;
    font-weight: bold;
    z-index: 10;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    text-align: center;
  }

.h2 {
  color: white;
  font-size: 35px;
  padding: 5px;
  font-weight: bolder;
  text-align: center;
}
  