/* MoviesList.module.css */

/* Grid container for movies */
.movieGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Individual movie card */
.movieCard {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
}

.posterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 10px;
}

.posterWrapper {
  width: 225px; 
  height: 325px; 
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* Shadow Effect */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}


.poster {
  width: 100%;
  height: 100%;
  object-fit: fill;  /* images fill the box without distortion */
}

.posterOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s ease-in-out;
}

.posterWrapper:hover .posterOverlay {
  background: rgba(0, 0, 0, 0.7);
}

.bookButton {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7E22CE;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  z-index: 20;
  border-radius: 6px;
}

.posterWrapper:hover .bookButton {
  display: block;
  opacity: 1;
}

.movieTrailer {
  display: block;
  margin: 20px auto 0;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}

.movieTitle {
  font-size: 20px;
  font-weight: bold;
  align-items: flex-start; 
  margin-top: 8px;
  color: white;
  text-shadow: 0px 3px 14px rgba(0, 0, 0, 0.7);
  }

.trailerButton {
  width: 125px;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #7E22CE;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 550;
  font-size: 15px;  
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.trailerButton:hover {
  background-color: #4a1579;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  background: #000;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
