/* Style - Navbar component */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #ffffff;
    background-color: #1C2337;
    opacity: 95%;
    height: 75px;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.leftSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 55%;
}

.slaytix {
    font-size: 35px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 35px;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    align-items: center;
}

.links li {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    transition: all 0.3s ease;
    z-index: 1;
    height: 100%;
}

.links li {
    list-style: none;
}

.links li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.links li:hover::before {
    opacity: 1;
}

.links li:hover a {
    text-decoration: underline;
}
