.card {
    background-color: #2C3851;;
    color: white;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 300px;
    height: 180px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .cardContent {
    font-size: 20px;
    font-weight: bold;
  }
  
  .addButton {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: white;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    border: none;
    text-decoration: none;
  }
  
  .card:hover .addButton {
    opacity: 1;
  }
  