/* Style - PaymentCard */

.card {
    width: 350px;
    height: 200px;
    background-color: #B34749;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: -0.5px; 
    padding: 20px; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    position: relative; 
}

.logoContainer {
    display: flex;
    justify-content: flex-end;
}

.logo {
    height: 40px;
    width: auto;
}