/* Style - ProfileSidebar */

.container {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 80px 50px 50px;
    border-right: 2px solid white;
    height: 100vh;
    width: 270px;
    min-width: 200px; 
    gap: 20px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.link {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.5px;
    transition: color 0.3s ease; 
}

.link:hover {
    color: #9DC2EE;
    text-decoration: underline;
}