/* Style - SearchBar */

/* Container for entire search bar (including dropdown) */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F1FD;
    border-radius: 50px;
    padding: 1px 5px;
}

/* Container for dropdown menu */
.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Each individual label (Title, Category) */
.dropdown label {
    padding: 5px;
}

/* Filter By button */ 
.dropbtn {
    width: 10em;
    background-color:#7E22CE;
    padding: 1em;
    border-radius: 50px;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 550;
    letter-spacing: 1px;
}

/* Form (collapsed) */
.dropContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10em;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    top: 110%;
    overflow: hidden;

    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, opacity 3s ease, visibility 0s linear 0.45s;
}

/* Form (expanded) */
.dropContent2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10em;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    top: 110%;
    overflow: hidden;

    max-height: 200px;
    opacity: 1;
    visibility: visible;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease, visibility 0s linear;
}

/* Actual search bar form */
.searchbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

/* Input typed into search bar */
.searchbar input {
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 50vh;
    background-color: #E8F1FD;
    color: #1C2337;
}

/* When you click on search bar */
.searchbar input:focus {
    outline: none;
}

/* Submit button for form */
.searchbtn {

}