@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/

body {
  color: #000000;
  background: linear-gradient(135deg, #2C3851, black);
  font-family: Spline Sans, Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar { /* Hides scrollbar */
  display: none; 
}
