/* Style - AdminPromo */

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
  }

  .container h1 {
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 0.5px;
  }

  .container h2 {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: -0.5px;
  }
  
  .addPromoSection {
    margin-bottom: 30px;
  }
  
  .inputGroup {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    color: rgb(46, 46, 46);
  }

  .addButton {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #45a049;
  }
  
  .promoList {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #242e43;
  }
  
  .removeButton {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .removeButton:hover {
    background-color: #cc0000;
  }