/* Style - SearchResults */

.container {
    color: white;
}

.container h1 {
    padding: 35px;
    font-size: 35px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 25px 50px;
}

.movieCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5px;
}

.movieCard h2 {
    font-weight: bold;
}

